.headline {
  color: white;
  width: 80%;
  font-weight: bold;
  font-size: 2em !important;
  font-variant: small-caps !important;
}


.reveal pre {
  width: 120%;
  margin-left: -10%;
  box-shadow : none;
}

.reveal pre code {
  font-size: 1.0em;
  line-height: 1.2;
  max-height: 50vh !important;
  opacity: 0.95;
  border-radius: 10px;
}

.reveal div.left {
  float: left; z-index: -10; width: 50%;
}
.reveal div.right {
  float: right; z-index: -10; width: 50%;
}

.reveal div.img_top {
  z-index: -10; height: 10%;
}

.reveal div.img_bottom {
  z-index: -10; height: 90%;
}

.white { color : #eeeeee; }